auth:
  authority: https://keycloak.homelab.olav.ninja/realms/homelab
  audience: netbird
  device:
    provider: hosted
    audience: netbird
    authority: https://keycloak.homelab.olav.ninja/realms/homelab
    clientID: netbird
    deviceAuthorizationEndpoint: https://keycloak.homelab.olav.ninja/realms/homelab/protocol/openid-connect/auth
    tokenEndpoint: https://keycloak.homelab.olav.ninja/realms/homelab/protocol/openid-connect/token
    scope: openid
    useIDToken: false

idp:
  managerType: none

management:
  image:
    tag: 0.63.0 # renovate: docker=netbirdio/management
  dnsDomain: netbird
  persistentVolume:
    enabled: true
    size: 1Gi
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      traefik.ingress.kubernetes.io/router.entrypoints: websecure, webpublic
    hosts:
      - host: netbird.homelab.olav.ninja
        paths:
          - path: /api
            pathType: Prefix
          - path: /management.ManagementService/
            pathType: Prefix
    tls:
      - secretName: netbird-tls-certificate
        hosts:
          - netbird.homelab.olav.ninja

relay:
  env:
    secretName: netbird-relay-secret
  replicaCount: 1
  image:
    repository: netbirdio/relay
    pullPolicy: IfNotPresent
    tag: 0.63.0 # renovate: docker=netbirdio/relay
  service:
    type: ClusterIP
    port: 80
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      traefik.ingress.kubernetes.io/router.entrypoints: websecure, webpublic
    hosts:
      - host: netbird.homelab.olav.ninja
        paths:
          - path: /relay
            pathType: Prefix
    tls:
      - hosts:
          - netbird.homelab.olav.ninja
        secretName: netbird-tls-certificate

signal:
  image:
    tag: 0.63.0 # renovate: docker=netbirdio/signal
  uri: netbird.homelab.olav.ninja:443
  protocol: https
  persistentVolume:
    enabled: true
    size: 1Gi
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      traefik.ingress.kubernetes.io/router.entrypoints: websecure, webpublic
    hosts:
      - host: netbird.homelab.olav.ninja
        paths:
          - path: /signalexchange.SignalExchange/
            pathType: Prefix
    tls:
      - secretName: netbird-tls-certificate
        hosts:
          - netbird.homelab.olav.ninja

stun:
  uri: stun:coturn.homelab.olav.ninja:3478

turn:
  uri: turn:coturn.homelab.olav.ninja:3478
  user: netbird
  secretKeyRef:
    name: netbird-turn-credentials
    key: password