apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: unmanic-config
spec:
  volumeName: unmanic-config
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-static
