apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: bambustudio

resources:
  - namespace.yaml
  - pvcs.yaml
  - middleware.yaml

helmCharts:
  - name: app-template
    releaseName: bambustudio
    namespace: bambustudio
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.2
    valuesFile: values.yaml

patches:
  - path: patches/remove-replicas.yaml
    target:
      kind: Deployment
      name: bambustudio
