---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bambustudio-config
spec:
  volumeName: bambustudio-config
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-static
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bambustudio-library
spec:
  volumeName: bambustudio-library
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-static
