apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pingvinshare

resources:
  - configmap.yaml
  - namespace.yaml
  - oidc-client.yaml
  - pvcs.yaml
  - secrets.yaml
  - middleware.yaml

helmCharts:
  - name: app-template
    releaseName: pingvinshare
    namespace: pingvinshare
    repo: https://bjw-s-labs.github.io/helm-charts
    version: 4.6.0
    valuesFile: values.yaml

patches:
  - path: patches/remove-replicas.yaml
    target:
      kind: Deployment
      name: pingvinshare
