apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn-system

resources:
  - namespace.yaml
  - recurring-jobs.yaml
  - oidc-client.yaml
  - middleware.yaml
  - secrets.yaml

helmCharts:
  - name: longhorn
    releaseName: longhorn
    repo: https://charts.longhorn.io
    version: 1.10.1
    includeCRDs: true
    valuesFile: values.yaml

# Use a patch to delete jobs with helm hooks
patches:
  - target:
      kind: Job
      annotationSelector: "helm.sh/hook"
    patch: |-
      apiVersion: batch/v1
      kind: Job
      metadata:
        name: placeholder
      $patch: delete