# https://github.com/longhorn/longhorn/blob/master/chart/values.yaml
defaultSettings:
  backupCompressionMethod: lz4 # tradeoff between bandwidth and cpu usage
  defaultReplicaCount: '{"v1":"1","v2":"1"}'
  defaultDataLocality: best-effort
  nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
  createDefaultDiskLabeledNodes: true

defaultBackupStore:
  backupTarget: cifs://100.124.87.95/backup-longhorn
  backupTargetCredentialSecret: longhorn-truenas-cifs-credentials

persistence:
  defaultClassReplicaCount: 1
  defaultDataLocality: best-effort

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: longhorn-system-oidc@kubernetescrd
  host: longhorn.homelab.olav.ninja
  tls: true
  tlsSecret: longhorn-tls-certificate
