apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich

resources:
- cnpg-database.yaml
- namespace.yaml
- oidc-client.yaml
- pvcs.yaml
- secrets.yaml

helmCharts:
- name: immich
  releaseName: immich
  namespace: immich
  repo: https://immich-app.github.io/immich-charts
  version: 0.10.3
  valuesFile: values.yaml

patches:
  - path: patches/immich-config-as-secret.yaml
