immich:
  configuration:
    placeholder: foo # will be replaced by kustomize patch
  persistence:
    library:
      existingClaim: immich-library

controllers:
  main:
    containers:
      main:
        image:
          tag: v2.4.1 # renovate: github-releases=immich-app/immich
        env:
          DB_HOSTNAME: 'immich-postgresql-rw'
          DB_USERNAME: 
            valueFrom:
              secretKeyRef:
                key: username
                name: immich-postgresql-user
          DB_PASSWORD: 
            valueFrom:
              secretKeyRef:
                key: password
                name: immich-postgresql-user

envFrom:
  - secretRef:
      name: immich-postgresql-user

valkey:
  enabled: true
  persistence:
    data:
      enabled: false

typesense:
  enabled: true
  persistence:
    tsdata:
      enabled: true
      type: emptyDir

machine-learning:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 2Gi
    limits:
      cpu: 1
      ephemeral-storage: 10Gi
  probes:
    liveness:
      spec:
        initialDelaySeconds: 120

server:
  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        hajimari.io/enable: 'true'
        hajimari.io/icon: https://avatars.githubusercontent.com/u/109746326
        hajimari.io/appName: Immich
      hosts:
        - host: immich.homelab.olav.ninja
          paths:
            - path: /
              pathType: Prefix
      tls:
        - secretName: immich-tls-certificate
          hosts:
            - immich.homelab.olav.ninja
