---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fileflows-data
spec:
  volumeName: fileflows-data
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-static
