command:
  - "/opt/keycloak/bin/kc.sh"
  - "start"
  - "--http-port=8080"
  - "--hostname-strict=false"

extraEnv: |
  - name: KC_BOOTSTRAP_ADMIN_USERNAME
    value: admin
  - name: KC_BOOTSTRAP_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: keycloak-admin-password
        key: pazzword
  - name: KEYCLOAK_FRONTEND_URL
    value: "https://keycloak.homelab.olav.ninja"
  - name: KC_HOSTNAME
    value: "keycloak.homelab.olav.ninja"
  - name: JAVA_OPTS_APPEND
    value: >-
      -Djgroups.dns.query={{ include "keycloak.fullname" . }}-headless

resources:
  requests:
    cpu: 200m
    memory: 1024Mi
  limits:
    memory: 4096Mi

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.entrypoints: websecure, webpublic
  rules:
    - host: keycloak.homelab.olav.ninja
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - keycloak.homelab.olav.ninja
      secretName: keycloak-tls-secret

dbchecker:
  enabled: true

database:
  vendor: postgres
  hostname: keycloak-postgresql-rw
  port: 5432
  database: keycloak
  username: keycloak
  existingSecret: keycloak-postgresql-app
  existingSecretKey: password

service:
  type: ClusterIP
  httpPort: 8080

proxy:
  enabled: true
  mode: xforwarded
  http:
    enabled: true

http:
  relativePath: /
  internalPort: http-internal
  internalScheme: HTTP
