apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik

resources:
  - namespace.yaml
  - middleware.yaml
  - proxy-external-cluster.yaml
  - oidc-client.yaml
  - secrets.yaml
  - certificates.yaml

helmCharts:
- name: traefik
  releaseName: traefik
  namespace: traefik
  repo: https://traefik.github.io/charts
  version: 37.4.0
  includeCRDs: true
  valuesFile: values.yaml

patches:
  - target:
      group: traefik.io
      version: v1alpha1
      kind: IngressRoute
      name: traefik-dashboard
      namespace: traefik
    patch: |-
      - op: replace
        path: /spec/routes/0/match
        value: "Host(`traefik.homelab.olav.ninja`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))"
