apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: securityheaders
  namespace: traefik
spec:
  headers:
    # HSTS Headers
    forceSTSHeader: false
    stsPreload: false
    stsSeconds: 15552000
    # X-Frame-Options: SAMEORIGIN
    customFrameOptionsValue: SAMEORIGIN
    # Referrer-Policy: same-origin
    referrerPolicy: 'same-origin'
    sslRedirect: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oidc
spec:
  plugin:
    traefik-oidc-auth:
      Secret: "urn:k8s:secret:traefik-oidc-credentials:pluginSecret"
      Provider:
        Url: https://keycloak.homelab.olav.ninja/realms/homelab
        ClientId: traefik
        ClientSecret: "urn:k8s:secret:traefik-oidc-credentials:clientSecret"
