ollama:
  gpu:
    enabled: false # The helm chart does not support Intel GPUs so we use a kustomize patch instead

deployment:
  labels:
    sablier.enable: "true"
    sablier.group: ollama-openwebui

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    traefik.ingress.kubernetes.io/router.middlewares: traefik-sablier-ollama-openwebui@kubernetescrd
  hosts:
    - host: ollama.homelab.olav.ninja
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: ollama-tls-certificate
      hosts:
        - ollama.homelab.olav.ninja

persistentVolume:
  enabled: true
  accessModes:
    - ReadWriteOnce
  storageClass: longhorn-static
  size: 60Gi
  volumeName: ollama
