apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: intel-device-plugins-operator
    repo: https://intel.github.io/helm-charts/
    version: 0.34.1
    namespace: intel-device-plugins
    releaseName: intel-device-plugins-operator
    includeCRDs: true

  - name: intel-device-plugins-gpu
    repo: https://intel.github.io/helm-charts/
    version: 0.34.1
    namespace: intel-device-plugins
    releaseName: intel-device-plugins-gpu
    includeCRDs: true
    valuesFile: values.yaml
