apiVersion: v1
kind: ConfigMap
metadata:
  name: avahi-services
  namespace: samba
data:
  smb.service: |
    <?xml version="1.0" standalone='no'?>
    <!DOCTYPE service-group SYSTEM "avahi-service.dtd">
    <service-group>
      <name replace-wildcards="yes">Homelab</name>
      <service>
        <type>_smb._tcp</type>
        <port>445</port>
        <host-name>homelab-samba-server.local</host-name>
      </service>
      <service>
        <type>_device-info._tcp</type>
        <port>0</port>
        <txt-record>model=NAS</txt-record>
      </service>
    </service-group>
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: avahi-hosts
  namespace: samba
data:
  hosts: |
    192.168.0.92 homelab-samba-server.local
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: avahi
  namespace: samba
spec:
  selector:
    matchLabels:
      app: avahi
  template:
    metadata:
      labels:
        app: avahi
    spec:
      hostNetwork: true
      containers:
      - name: avahi
        image: ydkn/avahi:343 # renovate: docker=ydkn/avahi
        env:
        - name: ALLOW_INTERFACES
          value: "br0"
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        volumeMounts:
        - name: avahi-services
          mountPath: /etc/avahi/services
          readOnly: true
        - name: avahi-hosts
          mountPath: /etc/avahi/hosts
          subPath: hosts
          readOnly: true
      volumes:
      - name: avahi-services
        configMap:
          name: avahi-services
      - name: avahi-hosts
        configMap:
          name: avahi-hosts
