apiVersion: v1
kind: ConfigMap
metadata:
  name: samba-config
  namespace: samba
data:
  config.json: |
    {
      "samba-container-config": "v0",
      "globals": {
        "default": {
          "options": {
            "server min protocol": "NT1",
            "ntlm auth": "ntlmv1-permitted",
            "security": "user",
            "log level": "1",
            "map to guest": "Bad User",
            "guest account": "nobody",
            "host msdfs": "no",
            "idmap config * : backend": "tdb",
            "idmap config * : range": "3000-7999"
          }
        }
      },
      "shares": {
        "media": {
          "options": {
            "path": "/mnt/media",
            "guest ok": "yes",
            "guest only": "yes",
            "read only": "no",
            "browseable": "yes",
            "create mask": "0664",
            "directory mask": "0775",
            "force user": "nobody",
            "force group": "nobody"
          }
        }
      },
      "users": {
        "all_entries": []
      },
      "configs": {
        "samba": {
          "instance_name": "samba",
          "instance_features": [],
          "shares": [
            "media"
          ],
          "globals": [
            "default"
          ]
        }
      }
    }