apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oidc
spec:
  plugin:
    traefik-oidc-auth:
      Secret: "urn:k8s:secret:aria2-oidc-credentials:pluginSecret"
      Provider:
        Url: https://keycloak.homelab.olav.ninja/realms/homelab
        ClientId: aria2
        ClientSecret: "urn:k8s:secret:aria2-oidc-credentials:clientSecret"
