apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aria2-config
spec:
  volumeName: aria2-config
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-static
