gitea:
  admin:
    existingSecret: gitea-admin-user
  additionalConfigFromEnvs:
    - name: GITEA__database__DB_TYPE
      value: postgres
    - name: GITEA__database__HOST
      valueFrom:
        secretKeyRef:
          name: gitea-postgresql-app
          key: host
    - name: GITEA__database__NAME
      valueFrom:
        secretKeyRef:
          name: gitea-postgresql-app
          key: dbname
    - name: GITEA__database__USER
      valueFrom:
        secretKeyRef:
          name: gitea-postgresql-app
          key: username
    - name: GITEA__database__PASSWD
      valueFrom:
        secretKeyRef:
          name: gitea-postgresql-app
          key: password
  config:
    service:
      DISABLE_REGISTRATION: true
    server:
      HTTP_PORT: 3000
      OFFLINE_MODE: false
      LFS_START_SERVER: true
    session:
      PROVIDER: memory
    cache:
      ADAPTER: memory
    queue:
      TYPE: level
  oauth:
    - name: keycloak
      provider: openidConnect
      existingSecret: gitea-oidc-credentials
      autoDiscoverUrl: https://keycloak.homelab.olav.ninja/realms/homelab/.well-known/openid-configuration

deployment:
  labels:
    sablier.enable: "true"
    sablier.group: gitea

service:
  http:
    type: ClusterIP
    port: 3000
    clusterIP: None
  ssh:
    type: ClusterIP
    port: 22
    clusterIP: None

ingress:
  enabled: true
  apiVersion: networking.k8s.io/v1
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    ingress.kubernetes.io/proxy-body-size: 10000m
    traefik.ingress.kubernetes.io/router.middlewares: gitea-login-redirect-keycloak@kubernetescrd,gitea-sablier@kubernetescrd
    hajimari.io/enable: 'true'
    hajimari.io/icon: https://upload.wikimedia.org/wikipedia/commons/b/bb/Gitea_Logo.svg
  hosts:
    - host: gitea.homelab.olav.ninja
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: gitea-tls-certificate
      hosts:
        - gitea.homelab.olav.ninja

persistence:
  enabled: true
  mount: true
  create: false
  claimName: gitea

valkey:
  enabled: true
  master:
    count: 1
  primary:
    persistence:
      enabled: false

# Disable unused components
postgresql:
  enabled: false
postgresql-ha:
  enabled: false
redis-cluster:
  enabled: false
valkey-cluster:
  enabled: false

# Use "Recreate" strategy for the deployment
# to make sure that volumes are available when new pod starts
strategy:
  type: Recreate
