apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jellyfin

resources:
  - deployment.yaml
  - ingress.yaml
  - namespace.yaml
  - oidc-client.yaml
  - pvcs.yaml
  - sa.yaml
  - secrets.yaml
  - service.yaml
